*{
  padding: 0;
  margin: 0px;
}

/* NAV BAR */

#nav-bar{
  background-color: #0A1130;
  color: white;
  width: 100%;
  margin: auto;
  min-height: 80px;
  font-family: "Montserrat", sans-serif;
}

#nav-bar #logo{
  float: left;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 15px;
}

#nav-bar #links{
  float: right;
  margin-top: 30px;
  margin-right: 15px;
}

#nav-bar li{
  display: inline;
  padding: 0px 20px;
}

#nav-bar a{
  color: white;
  text-decoration: none;
}

/*BANNER */
#banner{
  width: 100%;
  min-height: 100%;
  background: url(./img/banner.jpg) 50% -1200px;
  background-attachment: fixed;
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
}

#banner p{
  font-family: Montserrat;
  color: white;
  font-size: 40px;
}

/* SKILLS SECTION */

#skills{
  text-align: center;
  padding-top: 10px;
  height: 350px;
  font-family: Montserrat;
}

#skills li{
  /*list-style-type: none;*/
  list-style-position: inside;
}

#skills .skillHead{
  padding-top: 10px;
}

#skills .skillDesc{
  padding-top: 10px;
}

#skills .skillset{
  width: 33.33%;
  float: left;
  text-align: center;
}

#skills #skillblocks{
  margin-top: 20px;
}

#skills img{
  width: 100px;
  height: 100px;
}

/*FOOTER*/
footer{
  width: 100%;
  clear: both;
  height: 100px;
  text-align: center;
  background-color: #FF5C00;
  font-family: Montserrat;
  color: white;
  line-height: 100px;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

footer p{
  padding-top:
}
